.day-red {
  padding: 5px;
  background-color: rgba(201, 153, 20, 0.719);
}

.react-calendar {
  width: 30vw;
  font-size: 1.2rem;

  &__navigation {
    & > * {
      font-size: 1.3rem;
    }
  }

  &__tile {
    font-size: 1.3rem;
  }
}
