.shop {
  grid-row: content-s/content-e;
  grid-column: s/e;

  display: grid;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [titulo-s] 100px [titulo-e cal-s] 1fr [cal-e] 50px;
  justify-items: center;
  align-items: center;
}

.title {
  grid-row: titulo-s/titulo-e;
  grid-column: s/e;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
}

.fecha {
  grid-row: cal-s/cal-e;
  grid-column: s/e;

  display: grid;
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [calendario-s] 1fr [calendario-e reserva-s] 100px [reserva-e];
}

.reserva {
  grid-column: s/e;
  grid-row: calendario-s/calendario-e;

  width: 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horas {
  display: grid;
  grid-template-columns: 1fr;

  & .hora {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 35px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgba(156, 156, 156, 0.315);

    &:active {
      box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    }
  }
}

.texto {
  grid-column: s/e;
  grid-row: reserva-s/reserva-e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.seleccion {
  background-color: rgba(26, 122, 26, 0.521);
}

.res {
  background-color: rgba(201, 20, 20, 0.55);
}
