.shop {
    grid-row: content-s/content-e;
    grid-column: s/e;

    display: grid;
    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [titulo-s] 100px [titulo-e cal-s] 1fr [cal-e] 50px;
}

.title {
    grid-row: titulo-s/titulo-e;
    grid-column: s/e;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2em;
}

.fecha {
    grid-row: cal-s/cal-e;
    grid-column: s/e;
    
    display: grid;
    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [calendario-s] 1fr [calendario-e reserva-s] 100px [reserva-e];
}

.calendario {
    grid-column: s/e;
    grid-row: calendario-s/calendario-e;

    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    grid-column: s/e;
    grid-row: reserva-s/reserva-e;

    display: flex;
    justify-content: center;
    align-items: center;
}