.auth {
  min-height: 500px;
  display: grid;

  &__nav {
    height: 50px;

    display: flex;
  }
}

.auth-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;

  & p {
    color: #808080;
    font-size: 2em;
    font-weight: normal;
    cursor: pointer;
  }
}

.auth-link.active {
  & p {
    font-weight: 600;
    color: #cea135;
  }
}
